<app-header></app-header>
<div class="container pt-5">
  <section>
    <div class = "row">
      <div class = "col"></div>
      <div class = "col"></div>
      <div class = "col">
        <nav>
          <a class="btn btn-warning" href="#" role="button" routerLink="/setup" routerLinkActive="active">New Learning Activity SetUp</a>
        </nav>
      </div>
    </div>
  </section>
  <section>
      <table class="table table-hover">
        <tr>
          <th *ngFor="let column of headers">
            {{column}}
          </th>
        </tr>
        <tr *ngFor="let row of projects">
        <td *ngFor="let col of headers">
          {{row[col]}}
        </td>
  </tr>
</table>
  </section>
  </div>

